@page "/Employees"
@layout Layout.MainLayout
@inject NavigationManager Nav
@inject SultanCups.Services.HrService HrService

<div class="emp-page">

    <!-- Header -->
    <div class="emp-topbar">

        <button class="emp-add-btn">
            إضافة موظف
        </button>

        <h2 class="emp-title-center">
            الموظفين
        </h2>

        <div></div>

    </div>

    <div class="emp-card">

        <div class="emp-table-wrap">
            <table class="emp-table">

                <thead>
                    <tr>
                        <th>الاسم</th>
                        <th>رقم الهاتف</th>
                        <th>الدور</th>
                        <th>الراتب الأساسي</th>
                        <th>الإجراءات</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var e in Employee)
                    {
                        <tr>
                            <td class="emp-name">@e.full_name</td>
                            <td class="emp-phone">@e.phone</td>
                            <td class="emp-rank">@e.rank</td>
                            <td class="emp-salary">@e.base_salary د.ل</td>

                            <td class="emp-actions">
                                <button class="emp-edit">تعديل</button>
                                <button class="emp-delete">حذف</button>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>

    </div>

</div>

@code {

    List<SultanCups.Models.Employee> Employee = new();

    protected override async Task OnInitializedAsync()
    {
        Employee = await HrService.GetEmployees();
    }

}